body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 177, 168, 0.822);
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid rgb(0, 11, 58);
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.808);
    transition: box-shadow 0.2s ease-in-out;
}

.arrow-up:hover {
    box-shadow: 3px 5px 3px 4px rgba(0, 0, 46, 0.829);
}

.info {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 1px 2px blue;
}